RewriteEngine On
RewriteRule ^admin - [S=4]
RewriteRule ^files - [S=3]
RewriteRule ^plugins - [S=2]
RewriteRule ^site - [S=1]

# /url_key/ => /index.php
RewriteRule ^/?([^/]+)/(.*)$ ./?%{QUERY_STRING}

# atom.xml
RewriteRule ^atom.xml$ ./?section=tuxion/feed