/* =Reset styles
-------------------------------------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
html, body{
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;
}
body{
  position:relative;
  /*overflow-x:hidden;*/
}

#container{
  padding-left:10px;
  /*width:8000px;*/
  width: 100%;
  overflow:hidden;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  line-height: 21px;
  color: #353535;
}
#container,
#content{
  height:100%;
}

