
/* =Scrollbars
-------------------------------------------------------------- */

::-webkit-scrollbar-track-piece{
  background-color:#000;
  -webkit-border-radius:0;
}
::-webkit-scrollbar-thumb{
  background-color:#666;
  outline:2px solid #111;
  outline-offset:-2px;
  border: 2px solid #000;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#999;
}


body {
  background-color: #000000;
}
a{
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}

.item {
  background-color: #292929;
}

.item,
.item a{
  color:#eee;
}
.item header a{
  text-decoration:none;
}
.item header a:hover{
  text-decoration:underline;
}
.full a{
  color:#ccc;
  text-decoration:underline !important;
}
.full a.button,
.full a:hover{
  text-decoration:none !important;
}
.item time{
  color:#666;
}

.col.full{
  color:#eee;
}

#sidebar{
  background-color:rgba(100, 100, 100, .6);
}
