
/* =Scrollbars
-------------------------------------------------------------- */

::-webkit-scrollbar-track-piece{
  background-color:#fff;
  -webkit-border-radius:0;
}
::-webkit-scrollbar-thumb{
  background-color:#999;
  outline:2px solid #fff;
  outline-offset:-2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#9f9f9f;
}


body {
  background-color: #e3e3e3;
/*  background: linear-gradient(45deg, #f06, yellow);
  background: -moz-linear-gradient(45deg, #f06, yellow);
  background: -webkit-linear-gradient(45deg, #F06, yellow);
*/
}

.item {
  background-color: #f4f4f4;
}
.item a{
  color:#666;
  text-decoration:none;
}
.item a:hover{
  text-decoration:underline;
}
.item time{
  color:#ccc;
}

.blue.item a,
.full .blue a{
  color:#00a1e4;
}
.orange.item a,
.full .orange a{
  color:#f15922;
}
.purple.item a,
.full .purple a{
  color:#bf206b;
}
.yellow.item a,
.full .yellow a{
  color:#98a41c;
}
.cyan.item a,
.full .cyan a{
  color:#6cc8bf;
}


#sidebar{
  background-color:#fff;
}

.col.full{
  background-color:#fff;
}
