/* =Reset styles
-------------------------------------------------------------- */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
html, body{
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.no-underline{
  text-decoration:none;
}

/* =Fonts
-------------------------------------------------------------- */

@font-face {
  font-family: 'TheSans';
  src: url('../font/thesans_plain-webfont.eot');
  src: url('../font/thesans_plain-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/thesans_plain-webfont.woff') format('woff'),
       url('../font/thesans_plain-webfont.ttf') format('truetype'),
       url('../font/thesans_plain-webfont.svg#') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**********************
    Layout
*********************/

body{
  position:relative;
  /*overflow-x:hidden;*/
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  font-size:12px;
  line-height:24px;
}

#sidebar{
  opacity:1;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:275px;
  padding-left:10px;
  padding-bottom:110px;
  overflow:hidden;
  font-family: 'proxima-nova',Helvetica,Arial,sans-serif;
  color: #666666;
  font-size:12px;
}
  #sidebar .col{
    position:relative;
  }
  #sidebar .sidebar-menu{
    position:absolute;
    bottom:0;
    left:0;
    height:96px;
    text-align:center;
    padding:0px;
  }
    .menu-item{
      background: #00a1e4;
      font-weight:bold;
      text-align: center;
      padding: 5px 0px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      color: #fff !important;
      text-decoration: none;
      width:125px;
      margin:5px 4px;
    }
    .menu-item.team{
      margin-left:-4px;
    }
    .menu-item.diensten{
      margin-left:-4px;
    }
    .menu-item.over{
      clear:both;
    }
    .menu-item.over,
    .menu-item.contact{
      margin-right:0;
    }
    .menu-item:hover {
      /*text-decoration: underline;*/
      opacity:0.9;
    }

  #logo{
    margin:32px 0 0 42px;
  }

#container{
  padding-left:310px;
  width:100%;
  overflow:hidden;
  color:#353535;
}
#container,
#content{
  height:100%;
}
#content{
  margin-right:310px;
}

#footer{
  position:absolute;
  bottom:0;
  height:0px;
}

#team-members{
  list-style:none;
  margin:0;
  padding:0;
}
#team-members li{
  margin:0;
  padding:0;
  /*min-height:42px;*/
  clear:both;
}
  #team-members .img{
    display:none;
    float:left;
    border: solid 1px #EEE;
    background: white;
    margin-right: 5px;
    margin-bottom:5px;
    padding: 2px;
    width: 48px;
    height: 48px;
  }
  #team-members img{
    max-width:48px;
  }
  #team-members .name{
  }

#filters{
  display:none;
  position:absolute;
  /*left:285px;*/
  right:0px;
  bottom:0px;
  background-color:#fff;
  padding:0 6px 6px 6px;
  width:34px;
  opacity:0.4;
}
#filters:hover{
  opacity:1;
}
#filters ul,
#filters li{
  list-style:none;
  margin:0;
  padding:0;
}
#filters ul{
  position:absolute;
  bottom:13px;
}
#filters ul:hover{
}
#filters li{
  line-height:25px;
  position:relative;
  background-color:#fff;
  border-radius: 3px 3px 3px 3px;
  margin-top:8px;
}
#filters li.tuxion{background-color:#00a1e4;}
#filters li.actueel{background-color:#6cc8bf;}
#filters li.artikelen{background-color:#bf206b;}
#filters li.portfolio{background-color:#cbdb2a;}
#filters li.code{background-color:#f15922;}
#filters li.home{background-color:#333;}

#filters span{
  display:none;
}
#filters li:hover span{
  display:inline-block;
}

#filters a{
  width:34px;
  height:25px;
  padding:5px 0;
  text-indent:-9999px;
  display:inline-block;
}
#filters div{
  position:absolute;
  left:-148px;
  top:4px;
  text-align:right;
  width:140px;
}
.tooltip{
  position:relative;
  line-height:14px;
  background:#343943;
  color:#fff;
  text-decoration: none;
  text-transform:lowercase;
  padding:0px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  font-size:10px;
  /*border:solid #fff 1px;*/
}
.tooltip.left{margin-left:2px;}
.tooltip.right{margin-right:2px;}

.tooltip:after{
  content:" ";
  position:absolute;
  display:block;
  display:none;
  width:2px;
  height:4px;
  top:5px;
  background:center center no-repeat;
}
.tooltip.left:after{
  background-image:url(../img/tooltip-arrow-left-transparent.png);
  left:-2px;
}
.tooltip.right:after{
  background-image:url(../img/tooltip-arrow-right-transparent.png);
  right:-2px;
}
.blue .tooltip, .blue .tooltip:after{background-color:#00a1e4;}
.cyan .tooltip, .cyan .tooltip:after{background-color:#6cc8bf;}
.purple .tooltip, .purple .tooltip:after{background-color:#bf206b;}
.yellow .tooltip, .yellow .tooltip:after{background-color:#cbdb2a;}
.orange .tooltip, .orange .tooltip:after{background-color:#f15922;}

/**********************
    Cols
*********************/

.col{
  float:left;
  height: 100%;
  overflow: hidden;
}
.col.wide{
  width:530px;
}
.col.small{
  width:285px;
}
.col.fluid{
  width:97%;
}
.col.full{
  /*border: 1px solid red;*/
  margin-right:20px;
}
  .col.full article{
    padding:25px 0px 45px;
    max-width:900px;
    margin:0 auto;
  }
  .col.full h2{
    font-size:17px;
  }
  .col.full article header h1{ font-size: 2em }
  .col.full a{
    text-decoration:none;
  }
  .col.full a:hover{
    text-decoration:underline;
  }

  .col.full article header,
  .col.full article .body,
  .col.full article footer{
    /*margin:0 25px;*/
  }
  .col.full article .body{
    width:100%;
    font-size:15px;
    line-height:23px;
    font-weight:400;
/*    columns:100px 5;
    -webkit-columns:100px 5;
    -moz-columns:100px 5;*/
  }
  .col.full article img{
    max-width:100%;
  }
  .col.full article .img-wrap{
    background-color:#282828;
    padding:5px 10px;
    max-width:100%;
  }
  .col.full article .img-wrap img{
    max-width:100%;
    display:block;
    margin:20px auto;
  }

/**********************
    Boxes
*********************/

.item {
  margin: 25px 25px 0 0;
  float: left;
  padding: 10px;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter:alpha(opacity=10);
  -webkit-transition:opacity 150ms linear;
  -moz-transition:opacity 150ms linear;
  -o-transition:opacity 150ms linear;
}
.item:hover {
  opacity:1;
}

.item.solid {
  -webkit-transition:opacity 150ms linear;
  -moz-transition:opacity 150ms linear;
  -o-transition:opacity 150ms linear;
  -moz-opacity: 1;
  opacity: 1;
  filter:alpha(opacity=100);
}

.disabled .item {
  -webkit-transition:opacity 250ms linear;
  -moz-transition:opacity 250ms linear;
  -o-transition:opacity 250ms linear;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter:alpha(opacity=10);
}

/**********************
    Text
*********************/

.item header {
  margin:0 0 0px 0;
  width:100%;
}
.item header:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.item h1 {
  font-weight: bold;
  font-size: 14px;
  margin:0;
  float:left;
}
.item time{
  float:right;
  margin-right:8px;
  line-height:24px;
}
.item .edit{
  display:none;
}
.item:hover .edit{
  display:inline-block;
}
.item footer {
  margin:10px 0 0 0;
}
  .item .author{
    float:right;
    margin-right:8px;
    line-height:34px;
  }

/**********************
    Box Sizes
*********************/

.wide .item {
  width: 485px;
  height: auto;
}

.small .item {
  width: 240px;
  height: auto;
}

.fluid .item {
  width: 100%;
  height: auto;
}

/**********************
    Colors
*********************/

.blue.item {
  border-top: 5px solid #00a1e4;
}

.orange.item {
  border-top: 5px solid #f15922;
}

.purple.item {
  border-top: 5px solid #bf206b;
}

.yellow.item {
  border-top: 5px solid #cbdb2a;
}

.cyan.item {
  border-top: 5px solid #6cc8bf;
}


/**********************
    Button styles
*********************/

.button{
  font-weight:bold;
  text-align: center;
  padding: 5px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  color: #fff !important;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border:none;
  -webkit-transition: border linear 0.08s,box-shadow linear 0.08s, opacity linear 0.08s;
  -moz-transition: border linear 0.08s,box-shadow linear 0.08s, opacity linear 0.08s;
  -ms-transition: border linear 0.08s,box-shadow linear 0.08s, opacity linear 0.08s;
  -o-transition: border linear 0.08s,box-shadow linear 0.08s, opacity linear 0.08s;
  transition: border linear 0.08s,box-shadow linear 0.08s, opacity linear 0.08s;
}
.button:hover {
  text-decoration: none;
  opacity:0.9;
  cursor:pointer;
  outline:0;
}

.disabled .item .button {
  cursor: default;
}
.disabled .item .button:hover {
  text-decoration: none;
}

.blue .button {
  background: #00a1e4;
}
.blue .button:hover{
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(82, 168, 236, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(82, 168, 236, 0.6);
}

.orange .button {
  background: #f15922;
}
.orange .button:hover{
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(241, 89, 34, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(241, 89, 34, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(241, 89, 34, 0.6);
}

.purple .button {
  background: #bf206b;
}
.purple .button:hover{
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(191, 32, 107, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(191, 32, 107, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(191, 32, 107, 0.6);
}

.yellow .button {
  background: #cbdb2a;
}
.yellow .button:hover{
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(203, 219, 42, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(203, 219, 42, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(203, 219, 42, 0.6);
}

.cyan .button {
  background: #6cc8bf;
}
.cyan .button:hover{
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(108, 200, 191, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(108, 200, 191, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 3px rgba(108, 200, 191, 0.6);
}

/**********************
    Readmore
*********************/

body.full .item:not(.full-item){
  opacity:0.3;
}

.wide .full-item{
}

/**********************
    Social Buttons
http://www.nouveller.com/general/free-social-media-bookmark-icon-pack-the-ever-growing-icon-set/
http://webtreats.mysitemyway.com/1540-infocus-social-media-icon-mega-set/
http://www.kadom.net/275/kadom-clean-social-icons-set-40-free-social-media-icons
http://psd.tutsplus.com/freebies/icons/81-pixel-perfect-social-media-icons/
http://sixrevisions.com/freebies/free-set-of-social-media-icons-rivet-social/
http://designmodo.com/free-social-media-icon-set/
http://icondock.com/free/vector-social-media-icons
http://www.pixeden.com/social-icons/dark-social-icons-set
http://www.iconfinder.com/search/?q=iconset%3Afugue+facebook+or+twitter
*********************/

.author-and-date{
  float:left;
  font-size: 10px;
  margin-bottom:15px;
}
.back-to-overview{
  clear:both;
}

.social-buttons{
  float:right;
  margin-bottom:15px;
}
.social-buttons .share,
.social-buttons .count.total,
.social-buttons .count .value{
  display:none;
}
.social-buttons .services .count{
  background-position:center center;
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  display:inline-block;
  text-indent:-9999px;
  margin-left:8px;
}
  .social-buttons .services .count:hover{
    opacity:0.9;
  }
.social-buttons .facebook{
  background-image:url('../img/icon/facebook-24.png');
}
.social-buttons .twitter{
  background-image:url('../img/icon/twitter-24.png');
}
.social-buttons .pinterest{
  display:none !important;
}

/**********************
    Forms
*********************/

textarea{
  font-family: 'proxima-nova',Helvetica,Arial,sans-serif;
}

input[type="password"],
input[type="search"]{
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}
input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"]{
  padding: 1px 0px;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea{
  background-color: white;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#FCFCFC, white);
  background-image: -ms-linear-gradient(top, #FCFCFC, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCFC), to(white));
  background-image: -webkit-linear-gradient(#FCFCFC, white);
  background-image: linear-gradient(top, #FCFCFC, white);
  background-color: white;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#FCFCFC, white);
  background-image: -ms-linear-gradient(top, #FCFCFC, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCFC), to(white));
  background-image: -webkit-linear-gradient(#FCFCFC, white);
  background-image: linear-gradient(top, #FCFCFC, white);
  border: 1px solid #BBB;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #777;
  display: block;
  font: 400 14px;
  margin-bottom: 10px;
  width:228px;
  padding: 5px;
  -webkit-transition: border linear 0.08s,box-shadow linear 0.08s;
  -moz-transition: border linear 0.08s,box-shadow linear 0.08s;
  -ms-transition: border linear 0.08s,box-shadow linear 0.08s;
  -o-transition: border linear 0.08s,box-shadow linear 0.08s;
  transition: border linear 0.08s,box-shadow linear 0.08s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact input[type="tel"]:focus,
#contact textarea:focus{
  outline:0;
  border-color:rgba(82, 168, 236, 0.8);
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}

#contact .group::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#contact input.small-field:first-child,
#contact .group p:first-child{
  margin-right: 12px;
}
#contact input.small-field,
#contact .group p{
  float: left;
  width: 102px;
}
#contact input.small-field[name="email"]{
  width:134px;
}
#contact input.small-field[name="phone"]{
  width:70px;
}
#contact .group p.would-be-great-to-meet-you{
  margin-left:24px;
}

#contact input.error,
#contact input.error.placeholder,
#contact input.error.placeholderFocus,
#contact textarea.error,
#contact textarea.error::placeholder,
#contact textarea.error.placeholder,
#contact textarea.error.placeholderFocus{
  color:#BF206B;
}
#contact input.error,
#contact textarea.error{
  border:solid #BF206B 1px;
}

#contact .button{
  width:239px !important;
  height:34px;
}

#contact .message-sent{
  display:none;
  font-weight:bold;
  background-color:#00A1E4;
  color:#fff;
  padding:5px 10px;
  margin-bottom:15px;
}