body {
  background-color: #000000;
}

.item {
  background-color: #292929;
}

.item,
.item a{
  color:#eee;
}
.item time{
  color:#666;
}

.col.full{
  color:#eee;
}

#sidebar{
  background-color:rgba(100, 100, 100, .6);
}
