body {
  background-color: #e3e3e3;
}

.item {
  background-color: #f4f4f4;
}
.item a{
  color:#666;
  text-decoration:none;
}
.item a:hover{
  text-decoration:underline;
}
.item time{
  color:#ccc;
}


#sidebar{
  background-color:#fff;
}

.col.full{
  background-color:#fff;
}
